.login-form {
    max-width: 500px;
    background-color: rgb(211,211,211);
    padding: 1% 2%;
    margin: 5% auto;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3)
}

.login-title, .created-date {
    text-align: center;
}


h3 {
    text-align: center;
    padding: 10px;
}

#search-head {
    margin-top: 10px;
}

a {
    color: white:
}

#search-value {
    margin-bottom: 5px;
}


.current-wordlist {
    display: inline;
}

.wordlist-info, .word-info {
    display: flex;
    flex-direction: row;
}

.wordlist-item, .word {
    padding: 5px;
}

.form-group {
    margin: auto;
}


.center-wordlist, .search-container, .search-results, .add-word {
    padding: 0 30%;
}

.word-card {
    margin-bottom: 3px;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1), 0 0 0 2px rgb(255,255,255), 0.3em 0.3em 1em rgba(0,0,0,0.3);
    padding: 9px 20px;
}

/* Styling dropdown from https://codepen.io/vkjgr/pen/VYMeXp */
select {
    /* styling */
    background-color: white;
    border: thin solid blue;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  /* arrows */
  select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    margin-top: 10px;
  }
  
  select.minimal:focus {
    background-image:
      linear-gradient(45deg, green 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, green 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
  }
  
  
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  

  