{% extends "base.html" %}

{% block metacontent %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <div class="center-wordlist">
        {% from "includes/_formhelpers.html" import render_field %}
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                <p>Add a new wordlist:</p>
                {{render_field(form.title, class_="form-control", placeholder="Enter wordlist title")}}
            </p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        {% for wordlist in wordlists %}
        <div class="wordlist-info">
            <div class="wordlist-item">
                <p><a href="/index/{{wordlist.id}}"><b>{{ wordlist.title }}</b></a>
            </div>
            <div class="wordlist-item">
                <a href="/edit/{{wordlist.id}}"><i class="fa fa-pencil"></i></a>
            </div>
            <div class="wordlist-item">
                <form action="{{url_for('delete_wordlist', wordlist_id=wordlist.id)}}", method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this wordlist?');"><i class="fa fa-trash-o"></i></button>
                </form>
            </div>
        </div>
        {% endfor %}
        </div>
{% endblock %}
