{% extends "base.html" %}

{% block content %}
    <div class="login-container">
        <div class="login-form input-sm">
            <h1 class="login-title">Login</h1>
            {% from "includes/_formhelpers.html" import render_field %}
            <form method="POST" action="" novalidate>
                {{ form.hidden_tag() }}
            <div class="form-group">
                {{render_field(form.username, class_="form-control")}}
            </div>
            <div class="form-group">
                {{render_field(form.password, class_="form-control")}}
            </div>
            <p>{{ form.remember_me() }} {{form.remember_me.label }}</p>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
        </div>
    </div>




    

{% endblock %}