{% extends "base.html" %}

{% block content %}

<form action="{{ url_for('search') }}">
    
    <div class="search-container">
        <h1 id="search-head">Search for Word</h1>
        <input type="text" name="search-word" id="search-value" >
        <button type="button" class="search-button">Search</button>
        <button type="button" id="clear">Clear</button>
    </div>

    <select name="my_wordlist" id="my_wordlist">
        {% for collection in wordlist_collection %}
        <option value= "{{collection.id}}" SELECTED>{{collection.title}}</option>"
        {% endfor %}
    </select>
    <button type="submit" id="add-button" onclick="submit_message();">Add to Collection</button>

</form>

    <div class="search-results">
        <!-- This is where the search results will go -->
    </div>


<!-- Start of JS file -->

{% endblock %}