{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td>
            <h1>User: {{ user.username }}</h1>
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user==current_user %}
            <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
            {% endif %}
        </td>
    </tr>
</table>
    <hr>
    {% if length > 0: %}
        <p>You have {{ length }} wordlist(s)</p>
    {% else %}
        <p>You don't have any wordlists</p>
    {% endif %}

    <a href="{{ url_for('index') }}"><button type="button" class="btn btn-info">Create a wordlist</button></a>

    

{% endblock %}