{% extends 'base.html' %}

{% block metacontent %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
    <p>The current learner is: {{ wordlist.learner }}</p>
    <h3><strong>{{ wordlist.title }}</strong></h3>
    <p class="created-date">Created on {{ wordlist.timestamp.date() }}</p>
    {% for word in wl_words %}
        <div class="word-card">
            <div class="word-info">
                <div class="word">
                    <h4><strong> {{ word }}</strong></h4>
                </div>

                <div class="word">
                    <form action="{{url_for('delete_word', word_id=word.id)}}", method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this word?')"><i class="fa fa-trash-o"></i></button>
                    </form>
                </div>
            </div>

            <p>Part of speech: <em>{{ word.part }}</em></p>
            <p>Definition: {{ word.definition }}</p>
            <p>Example: {{ word.example1 }}</p>
        </div>
    {% endfor %}
{% endblock %}